.sidebar {
  flex: 1;
  background: rgb(42, 118, 218);
  height: 100vh;
  position: sticky;
  top: 0;
  transition: all 0.4s linear;
}
.sidebarWrapper {
  padding: 20px;
  position: sticky;
}
.sidebarTitle {
  font-weight: 600;
  font-size: 20px;
  font-family: "Alegreya Sans", sans-serif;
  margin: 12px 4px;
  color: white;
}
.sidebarTitle span {
  padding-bottom: 2px;
  border-bottom: solid white 2px;
}
.sidebarList,
.sidebarList2 {
  margin: 60px 0;
  width: 100%;
}
.sidebarList ul {
  list-style: none;
  color: white;
  padding: 5px;
}
.sidebarList2 ul {
  list-style: none;
  color: white;
  padding: 5px;
}
.sidebarList ul li,
.sidebarList2 ul li {
  padding: 5px;
  margin: 1px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.sidebarWrapper li.active,
.sidebarWrapper li:hover {
  background: rgba(13, 44, 80, 0.274);
}
.sidebarWrapper .icon {
  margin-right: 20px;
}

/* responsiveness */

@media screen and (max-width: 890px) {
  .sidebar {
    position: sticky;
    top: 0;
  }
}
@media screen and (max-width: 1400px) {
  .sidebarTitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 1233px) {
  .sidebarTitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .sidebar {
    position: absolute;
    left: -100%;
  }
  .sidebar.active {
    position: sticky;
    top: 0;
  }
}
