.firstBoardWrapper {
  display: flex;
  flex-direction: row;
  gap: 25px;
  height: 30vh;
}
.firstColumn {
  padding: 15px;
  flex: 4;
  background-color: white;
  border-radius: 8px;
  box-shadow: -3px 4px 23px -17px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: -3px 4px 23px -17px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: -3px 4px 23px -17px rgba(0, 0, 0, 0.79);
}

.weeks {
  display: flex;
  gap: 100px;
}
.weeks h5 {
  margin-bottom: 5px;
}
.currentWeek span {
  color: rgb(42, 118, 218);
}
.previousWeek span {
  color: #ccc;
}
.currentWeek span,
.previousWeek span {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 23px;
  position: relative;
  margin-left: 7px;
}
.currentWeek span::before {
  content: "\2022";
  position: absolute;
  top: 0px;
  left: -7px;
  font-size: 13px;
}
.previousWeek span::before {
  content: "\2022";
  position: absolute;
  top: 0px;
  left: -7px;
  font-size: 13px;
}

/* Responsiveness section */
@media screen and (max-width: 880px) {
  .firstBoardWrapper {
    flex-direction: column;
    height: 80vh;
  }
  .firstColumn {
    box-sizing: border-box;
    height: 150px;
    overflow: hidden;
  }
}

/* @media screen and (max-width: 580px) {
  .firstColumn {
    box-sizing: border-box;
    height: 150px;
    overflow: hidden;
  }
} */
